.about {
  position: relative;
  width: 100%;
  height: auto;
}

.about__header {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 36px;
  text-align: center;

  @media (min-width: $viewport-mid) {
    padding: 20px 0 40px;
    font-size: 44px;
  } 
  
  @media (min-width: $viewport-large) {
    padding-bottom: 70px;
    font-size: 72px;
  }  
}

.about__text {
  padding: 0 20px;
  font-size: 14px;
  line-height: 26px;
  text-align: justify;

  @media (min-width: $viewport-large) {
    font-size: 16px;
    column-count: 2;
    column-width: 470px;
    column-gap: 60px;
  } 
  
  &-p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
}

.about__photo {
  width: 70vw;
  height: auto;
  margin-left: 7.5vw;

  @media (min-width: $viewport-mid) {
    width: 50vw;
  }    

  @media (min-width: $viewport-large) {
    width: 630px;
    height: 330px;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    margin-left: 185px;
    overflow: hidden;
  }

  &-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
