.header {
  position: fixed;
  width: 100vw;
  height: 65px;
  margin: 0;
  padding: 0;
  background-color: $black;
  z-index: 2;

  @media (min-width: $viewport-mid) {
  }

  @media (min-width: $viewport-large) {
    height: 85px;
  }
}

.menu {
  position: relative;

  &-btn__toggle {
    position: absolute;
    top: 23px;
    width: 30px;
    height: 3px;
    background-color: $white;
    box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;

    &--open {
      left: 30px;
    }

    @media (min-width: $viewport-large) {
      display: none;
    }  
  }
}

.nav {
  position: absolute;
  top: 65px;
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
  padding: 16px 30px;
  background: $nav-bg;

  @media (min-width: $viewport-large) {
    top: 0;
    width: auto;
    padding: 14px 30px;
    background: none;
  }

  &__list {
    width: 140px;
    margin: 0;
    padding: 0;

    @media (min-width: $viewport-large) {
      display: flex;
      flex-flow: row;
      width: auto;
      margin-left: calc(50vw - 530px);
    }  
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      border-bottom: 1px solid $grey;

      @media (min-width: $viewport-large) {
        padding-right: 35px;
        border-bottom: none;
      }    
    }
  }

  &__link {
    width: 100%;
    height: 100%;

    @media (min-width: $viewport-large) {
      &:active {
        color: $white;
      }  
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 300;
    color: $white;
    text-transform: uppercase;

    @media (min-width: $viewport-large) {
      font-size: 24px;
      color: $menu-grey;

    }
  }
}