.latest__header {
  margin: 0;
  padding: 0;
  margin: 30px 0;
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 36px;
  text-align: center;

  @media (min-width: $viewport-mid) {
    margin: 40px 0;
    font-size: 44px;
  } 

  @media (min-width: $viewport-large) {
    font-size: 72px;
  }   
}

.latest {
  width: 100%;
  height: auto;

  &__flex {
    display: flex;
    flex-flow: column;

    @media (min-width: $viewport-large) {
      width: 100%;
      height: auto;
    }
  }

  &__list {
    width: 100%;
    height: auto;

    @media (min-width: $viewport-large) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid $grey-line;
    }
  }

  &__item {
    width: 100%;
    height: auto;

    @media (min-width: $viewport-large) {
      width: 225px;
      margin: 0;
      padding: 0;  
    }

    &-link {
      width: 100%;
      height: auto;
    }

    &-bg {
      position: relative;
      width: 100%;
      height: 118.75vw;
      overflow: hidden;

      @media (min-width: $viewport-mid) {
        height: 93vw;
      } 
      
      @media (min-width: $viewport-large) {
        width: 225px;
        height: 340px;
      }  
    }

    &-img {
      position: absolute;
      width: auto;
      height: 100%;
      object-fit: cover;

      @media (min-width: $viewport-large) {
        width: 225px;
        height: 340px;
      }  
    }

    &-header {
      margin: 0;
      padding: 0;
      padding-top: 20px;
      padding-bottom: 30px;
      font-size: 28px;
      font-family: "Playfair Display";
      font-weight: normal;
      text-align: center;

      @media (min-width: $viewport-mid) {
        font-size: 32px;
      }  
      
      @media (min-width: $viewport-large) {
        font-size: 28px;
      }
    }

    &-text {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 9vw;
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid $grey-line;

      @media (min-width: $viewport-large) {
        margin-bottom: 40px;
        border-bottom: none;
      }    
    }
  }
}
.text__tag-link {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $coral;
  text-align: center;

  @media (min-width: $viewport-mid) {
    font-size: 14px;
  }
}

.date {
  @media (min-width: $viewport-large) {
    font-size: 10px;
  }
}
