.main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.bg__img {
  position: relative;
  width: 100vw;
  height: 475px;
  overflow: hidden;

  &-main { 
    position: absolute;  
    bottom: -310px;
    left: -260px;
    object-fit: cover;

    @media (min-width: $viewport-mid) {
      bottom: -320px;
      left: -40px;
    }  
  }
}