.bg__img {
  position: relative;
  width: 100vw;
  height: calc(100vw + 27vh);
  overflow: hidden;

  &-main {   
     position: absolute;
    bottom: -235px;
    left: -195px;

    width: 875px;
    height: 1090px;

  }
}