.main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.bg__img {
  position: relative;
  width: 100vw;
  height: 475px;
  overflow: hidden;

  &-main { 
    position: absolute;  
    bottom: -235px;
    left: -195px;
    object-fit: cover;
  }
}