/* General */
/* html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
} */

/* body {
  margin: 20px 0;
  overflow: auto;
 
  color: #fff;
} */

a {
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}

/* Hamburger */
.hamburger1 {
  height: 30px;
  margin: 15px 30px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  z-index: 3;

  @media (min-width: $viewport-mid) {
    display: none;
  }  
}

.hamburger1 div {
  background-color: $white;
  position: relative;
  width: 30px;
  height: 3px;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 15.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -3px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: auto;
}

/* Menu */
.menu1 {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  width: 200px;
  height: 0px;
  margin: 0;
  padding: 0;
  padding: 0 30px;
  font-size: 18px;
  text-align: left;
  background: $nav-bg;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition: height .5s ease;
  z-index: 3;

  @media (min-width: $viewport-mid) {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: fit-content;
    padding: 7px 30px;
  }  

  @media (min-width: $viewport-large) {
    justify-content: start;
    padding: 11px 30px;
    margin-left: calc(50vw - 530px);
  }    
}

.menu1 a:first-child {
  margin-top: 20px;

  @media (min-width: $viewport-mid) {
    margin-top: 0;
  }    
}

.menu1 a:last-child {
  margin-bottom: 16px;

  @media (min-width: $viewport-mid) {
    margin: 0;
  }    
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 14px 0;
  color: $white;
  text-transform: uppercase;

  &:not(:last-child) {
    border-bottom: 1px solid $grey;

    @media (min-width: $viewport-mid) {
      border-bottom: none;
    }
  }

  @media (min-width: $viewport-mid) {
    width: auto;
    margin: 0;
    margin: 0 25px 0 0;
    font-size: 20px;
    color: $light-grey;
    border-bottom: none;
  } 
  
  @media (min-width: $viewport-large) {
    margin-right: 35px;
    font-size: 28px;
  }    
}

.link1:hover {
  color: $white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}