.pricelist {
  position: relative;
  width: 100%;
  height: auto;
}

.pricelist__header {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 36px;
  text-align: center;

  @media (min-width: $viewport-mid) {
    font-size: 44px;
    padding: 40px 0;
  } 
  
  @media (min-width: $viewport-large) {
    padding: 70px 0 70px;
    font-size: 72px;
  }  
}

.pricelist__flex {
  display: flex;
  flex-flow: column;

  @media (min-width: $viewport-large) {
    flex-flow: row;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      top: 245px;
      left: 500px;
      width: 1px;
      height: 555px;
      background-color: $grey;
    }
  }

  &-left,
  &-right {
    display: flex;
    justify-content: space-between;

    @media (min-width: $viewport-large) {
      position: relative;
      flex-basis: 42%;
    }  
  }
}

.pricelist__list {
  width: 100%;
  margin: 0;
  padding: 0;


  &-price {
    text-align: right;
  }
}

.pricelist__item {
  &-text {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 18px;

    @media (min-width: $viewport-mid) {
      font-size: 20px;
    }    
  }

  &-price {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    font-size: 16px;
    color: $coral;

    @media (min-width: $viewport-mid) {
      font-size: 18px;
    }    
  }
}

.pricelist__terms-text {
  margin: 0;
  padding: 0;
  margin: 40px 0;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  font-size: 11px;
  text-align: right;
  border-bottom: 1px solid $grey-line;

  @media (min-width: $viewport-mid) {
    margin: 50px 0;
    font-size: 12px;
  }  
  
  @media (min-width: $viewport-large) {
    margin: 0;
    padding-bottom: 70px;
    border-bottom: 2px solid $grey-line;
  }
}