.shop {
  width: 100%;
  height: auto;
}

.shop__header {
  margin: 0;
  padding: 0;
  padding: 60px 0 30px;
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 36px;
  text-align: center;

  @media (min-width: $viewport-mid) {
    font-size: 44px;
    padding: 60px 0 40px;
  } 
  
  @media (min-width: $viewport-large) {
    padding: 70px 0 70px;
    font-size: 72px;
  }  
}

.shop__flex {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
}

.shop__list {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  @media (min-width: $viewport-mid) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $viewport-large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.shop__item {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: $viewport-mid) {
    flex-basis: 30vw;
    margin-bottom: 50px;
  }  
  
  @media (min-width: $viewport-large) {
    flex-basis: 225px;
    margin: 0;
    padding: 0;  
  }

  &-link {
    width: 100%;
    height: auto;
  }

  &-img {
    width: 100%;
    height: 105vw;
    object-fit: cover;
    overflow: hidden;

    @media (min-width: $viewport-mid) {
      height: 45vw;
    } 

    @media (min-width: $viewport-large) {
      width: 225px;
      height: 340px;
    }  
  }

  &-text {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    margin: 0;
    padding: 0;
    padding: 10px 0 15px;
    text-align: center;
    background: $bg-white;

    @media (min-width: $viewport-mid) {
      height: 90px;
      padding: 5px 0 10px;
    } 
    
    @media (min-width: $viewport-large) {
      position: relative;
      margin-top: 40px;
      padding: 0;
      height: 110px;
    }  
  }

  &-header {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 28px;

    @media (min-width: $viewport-mid) {
      font-size: 24px;
    } 

    @media (min-width: $viewport-large) {
      font-size: 28px;
    } 
  }

  &-price {
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: $coral;

    @media (min-width: $viewport-mid) {
      font-size: 11px;
    } 
    
    @media (min-width: $viewport-large) {
      font-size: 10px;
    }    
  }
}

.shop__link {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid $grey-line;

  @media (min-width: $viewport-large) {
    border-bottom: 2px solid $grey-line;
  }

  &-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: right;

    @media (min-width: $viewport-large) {
      padding: 40px 0 15px;
    }    
  }
}

.shop__item:hover .shop__item-img {
  box-shadow: $img-shadow;
  transform: scale(1.1);
  transition: ease-out 0.7s;
}