$white: #fff;
$black: #000;

$grey: #4a4a4a;
$menu-grey: #787878;
$light-grey: #a4a4a4;
$grey-line: #e4e4e4;

$coral: #f6797f;

$bg-white: rgba(255, 255, 255, 0.85);
$bg-coral: rgba(246, 121, 127, 0.9);
$bg-grey: #f4f4f4;

$nav-bg: rgba(0, 0, 0, 0.75);
$white-toggle: rgba(255, 255, 255, 0.45);

$shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);